# General
dist
.solid
.output
.vercel
.netlify
netlify
.env.local
web/dbschema/edgeql-js
/test
node_modules
gitignore

# System
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
